h1 {
    color: orange;
    text-align: center;
    font-style: oblique;

}

body {
    background-color: black;
    color: orange;
    text-align: center;
    font-size: x-large;
}

.right {
    display: flex;
    justify-content: flex-end; 
    padding: 10px; 
}

.top {
    position: absolute;  
    top: 10px;           
    left: 10px;          
}

#C4 {
    font-style: italic;
    font-size: x-small;
    text-align: center;
}
